@font-face {
    font-family: "Comic Sans MS";
    src: url("./COMIC.TTF");
}

.background {
    background-color: #c4a2ff;
}

.titles {
    background-color: #7847cc;
    color: #ffffff;
    padding: 0.5rem;
    margin: 0.5rem;
    text-align: center;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    font-family: "Comic Sans MS";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav {
    display: flex;
    padding: 1.5rem;
}

.imgs {
    display: flex;
    flex-direction: row;
}

.imgs img {
    margin: 10px;
    padding: 10px;
}

@media (max-width: 1110px) {
    .imgs {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .imgs img {
        margin: 10px;
        padding: 10px;
    }
}

.nav a, button {
    padding: 0.5rem;
    margin: 0.5rem;
    color: #c6a6ff;
    text-decoration: none;
    background-color: #7847cc;
}

.nav a:hover, button:hover {
    color: #ffffff;
}

#scene-container {
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;

}

#btn {
    cursor: pointer;
    padding: 0.5rem;
    margin: 0.5rem;
    color: #c6a6ff;
    text-decoration: none;
    background-color: #7847cc;
}

#btn:hover {
    color: #eee9ff;
}

#btn2 {
    cursor: pointer;
    padding: 0.5rem;
    margin: 0.5rem;
    color: #c6a6ff;
    text-decoration: none;
    background-color: #7847cc;
}

#btn2:hover {
    color: #eee9ff;
}

#btn3 {
    cursor: pointer;
    padding: 0.5rem;
    margin: 0.5rem;
    color: #c6a6ff;
    text-decoration: none;
    background-color: #7847cc;
}

#btn3:hover {
    color: #eee9ff;
}

#wireframe {
    cursor: pointer;
    padding: 0.5rem;
    margin: 0.5rem;
    color: #c6a6ff;
    text-decoration: none;
    background-color: #7847cc;
}

#wireframe:hover {
    color: #eee9ff;
}

.text {
    font-family: "Comic Sans MS";
    text-align: center;
    display: block;
    color: #ffffff;
    background-color: #7847cc;
    padding: 10px;
    margin: 10px;
    max-width: 1110px;
}